/* General */

.container {
  width: 1100px;
}

/* Header */

.header {
  border-bottom: 1px solid #282828 ;
  
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  
  font-size: 20px;
  padding: 15px;
}

/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 7px;
}

.menu > li {
  display: inline;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: rgb(96,96,96);
}

/* Slider */

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #404040;
}

.slide {
  background-color: rgb(240,240,240);
  background-size: cover;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.active-slide {
    display: block;
}

.slide-text h1 {
  color: #363636;  
  
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.slide-text p {
  color: rgb(96,96,96);
  font-family: Georgia, "Arial", serif;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-indent: 50px;
}

.slide-img {
  text-align: right;
}

.slider-nav {
  text-align: center;
  margin-top: 25px;
}

.arrow-prev {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  margin-right: 45px;
}

.arrow-next {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
  margin-left: 45px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  
}

.slider-dots li {
  color: #959696;
  display: inline;
  font-size: 35px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}
